BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Empty
AllowShortControlStatementsOnASingleLine: Never
DerivePointerAlignment: false
PointerAlignment: Left        # Like Google: int* ptr;
BreakBeforeBraces: Allman     # If you prefer braces on new lines
NamespaceIndentation: None    # Google style: don't indent inside namespaces
