[submodule "3rdParty/cgltf"]
	path = 3rdParty/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "3rdParty/EASTL"]
	path = 3rdParty/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "3rdParty/D3D12MemoryAllocator"]
	path = 3rdParty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "3rdParty/optick"]
	path = 3rdParty/optick
	url = https://github.com/bombomby/optick.git
[submodule "3rdParty/entt"]
	path = 3rdParty/entt
	url = https://github.com/skypjack/entt.git
[submodule "3rdParty/DirectXTex"]
	path = 3rdParty/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdParty/meshoptimizer"]
	path = 3rdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
