[submodule "3rdparty/DirectX-Headers"]
	path = 3rdparty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/DirectXTex"]
	path = 3rdparty/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "3rdparty/cgltf"]
	path = 3rdparty/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "3rdparty/EASTL"]
	path = 3rdparty/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "3rdparty/D3D12MemoryAllocator"]
	path = 3rdparty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "3rdparty/optick"]
	path = 3rdparty/optick
	url = https://github.com/bombomby/optick.git
[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = https://github.com/skypjack/entt.git