CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

build
/.vs
/PhxEngine/.vs/PhxEngine/v17/.suo
/PhxEngine/__x64/Debug
*.user
/TestApp/__x64/Debug
/__Build/x64/Debug
